
.section2 {
  font-size:200%;
  margin:2vw 0;

  .inv {
    width:20vw;
    margin:0 1vw;
  }

  .nr {
    width:35vw;
    margin:0 1vw;
    border:1px solid #999;
  }

  .nr-Print {
    width:35vw;
    margin:0 1vw;
    border:1px solid #333;
  }
}