
.section2 {
  width:100%;

  .info {
    width:44vw;
    margin:1vw;
    padding:0.5vw;
  
    .bold {font-size:120%;}
  }

  .info-Print {
    width:44vw;
    margin:1vw;
    padding:0.5vw;
    border:1px solid #333;
    border-radius:0.5vw;

    .inputWrapper-Print {
      min-height:2vw;
      margin:0.5vw 0;
      border-bottom:1px dashed #999;
  
      .left {width:11vw; font-size:80%;}
      .right {width:33vw; font-weight:bold;}
    }

    .bold {font-size:150%; margin:0.5vw;}
  }
}