
.section6{
  width:100%;
  margin:2vw 0 2vw 0;

  .signature{
    width:45%;
    margin:2vw 0 1vw 0;

    .signLine{
      width:80%;
      margin:0.5vw 10%;
      border-bottom:1px dashed #fff;
    }
  }
}