
.bistro {
  margin:0;
  padding:0;
  width:100%;
  min-height:30vw;
  color:#fff;
  font-size:1vw;
  font-family: 'Merriweather', serif;
  background-image:url("https://oldapi.bzdrive.com/img/patterns/bistro.png");
}
