
.containerL {
  width: 100%;
  margin: 1vw 0;
  padding: 0.5vw 0;
  border: 1px solid #999;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.5vw 0.2vw #999;
  &:hover {box-shadow: 0 0 0.2vw 0.1vw #999;}

  .name {
    color: #f60;
    width: 90%;
    margin: 0.5vw 0;
    padding: 0 0.5vw;
    font-weight: bold;
    border-bottom: 2px dashed #f60;
  }

  .line {
    width: 100%;
  }

  .img {
    width: 1.5vw;
    min-width: 20px;
    margin: 0.2vw 1vw;
    padding: 0.5vw;
    @media print {display: none;}
  }

  .key {
    width: 20%;
  }

  .value {
    width: 60%;
    color: #f00;
    @media print {text-decoration: none;}
  }
}