
.queryL {
  width:30%;

  .queries {
    margin:0 0 2vw 0;
    
    .line {
      width:85%;
      margin:0.5vw;
      padding:0.2vw 0.5vw;
      border-radius:0.5vw;
      &:hover {
        border:0.1vw solid #fff;
      }
    }
  
    .method {
      width:4vw;
      padding:0 0.5vw;
      margin:0 1vw 0 0;
    }
  
    .colorGET 		{background-color:#f603; border:0.1vw solid #f60;}
    .colorPOST 		{background-color:#3763; border:0.1vw solid #376;}
    .colorUPDATE 	{background-color:#fd03; border:0.1vw solid #fd0;}
    .colorDELETE 	{background-color:#f003; border:0.1vw solid #f00;}

    .queryLink {}
  }
}
  
.queryR {
  width:65%;
  padding:1vw;
  border:0.1vw solid #999;
  border-radius:0.5vw;
  background-color:#222;
}

.queryProject {
  width:90%;
  min-height:2vw;
  margin:0.5vw 0;
  padding:0 1vw;
  background-color:#111;
  border:0.1vw solid #999;
  border-radius:0.5vw;
}