
.blankInvoice{
  width:100%;
  min-height:10vw;
  margin:1vw 0;
  color:#000;
  background-color:#eee;

  .sectionOne{

    .logo{
      width:60vw;
      font-size:300%;
  
      img{
        width:5vw;
        margin:1vw 2vw;
      }
    }
  
    .date{
      width:25vw;
  
      .left{width:15vw;}
      .right{
        width:5vw;
        margin:0 1vw;
      }
    }
  }

  .sectionTwo{
    font-size:200%;

    .inv{
      width:10vw;
      margin:1vw;
    }

    .nr{
      width:20vw;
      margin:1vw;
      border:1px solid #000;
    }
  }

  .sectionThree{

    .rectangle{
      width:40vw;
      margin:1vw;
      padding:0.5vw 1vw;
      border:1px solid #000;

      .bold{font-size:120%;}

      .line{
        width:95%;
        min-height:1.5vw;
        border-bottom:1px solid #555;
      }

      .nip{
        margin:0.5vw 0 0 0;
      }
    }
  }

}