
.Settings {
  width:100%;
  position:relative;

  .BtnsArea {
    position:absolute;
    top:0;
    right:3vw;
  }

  .SettArea {
    width:95%;
    padding:0.5vw 0;
    border-top:1px dashed #f60;
    border-bottom:1px dashed #f60;

    .Hint {
      padding:5vw 1vw 1vw 1vw;
      width:25%;

      .HintTitle {
        font-size:150%;
        color:#fd0;
      }

      p {
        text-indent:2vw;
        text-align:left;
        color:#999;
      }
    }
  }
}