
.main {
  padding: 0 2vw;

  @media (orientation: portrait) {flex-direction: column;}
  @media print {flex-direction: row;}
}

.mainL {
  width: 38%;
  padding: 0 0.5vw;

  @media (orientation: portrait) {width: 100%;}
  @media print {width: 38%;}
}

.mainR {
  width: 60%;
  padding: 0 0.5vw;
  
  @media (orientation: portrait) {width: 100%;}
  @media print {width: 60%;}
}
