
.Calendar {
  width:100%;
  min-height:2vw;
  margin:1vw 0;

  .Week {
    width:100%;
  
    .Day {
      width:13%;
      margin:0.5vw 0;
      padding:0.25vw 0;
      opacity:0.3;
      background-color:#222;
      border:1px solid #999;
      border-radius:0.5vw;
  
      .DayLine {
        width:100%;
        min-height:2vw;
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size:100%;
        }
        @media (max-width: 767px) {
          font-size:70%;
          min-height:3vw;
        }
      }
  
      .zlecenie {
        width:calc(100% + 4px);
        margin:0.1vw 0;
        text-align:center;
        color:#000;
        z-index:9999;
        border-top:2px solid #0000;
        border-bottom:2px solid #0000;
        &:hover {
          color:#fd0;
          background-color:#111 !important;
          border-color:#f60;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size:100%;
          min-height:2vw;
        }
        @media (max-width: 767px) {
          font-size:50%;
          min-height:3vw;
        }
      }
    }
    .DayPannel {
      color:#f60;
      font-weight:bold;
      opacity:1;
      background-color:#111;
    }
    .ActiveMonth {
      color:#fff;
      opacity:1;
    }
    .HoliDay {
      width:13%;
      background-color:#f001;
      border:1px solid #999;
      border-radius:0.5vw;
    }
    .DayActive {
      border-color:#f60;
      background-color:#f60;
    }
  }
}