
.FS {
  width:100%;
  &-Print {
    position:absolute;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:101%;
    min-height:100%;
    font-size:1.5vw;
    color:#000;
    background-color:#fff;
    z-index:999;

    .closeBtn {
      width:5vw;
      position:fixed;
      top:2vw;
      right:2vw;

      img {
        width:4vw;
        margin:1vw;
        &:hover {
          width:5vw;
          margin:0.5vw;
        }
      }

      @media print {display:none;}
    }
  }

  .inputWrapper {
    margin:0.5vw 0;
    padding:0.25vw;
    border:1px solid #999;
    border-radius:0.5vw;
    &:hover { border-color:#191; }

    legend {
      margin:0 0.5vw;
      padding:0 0.5vw;
      color:#999;
      font-size:80%;
    }

    input {
      width: calc(100% - 1vw - 2px);
      padding:0.25vw 0.5vw;
      border:none;
      color:#fff;
      background-color:#0000;
    }
  }

  .inputWrapperError {
    legend { color:#f60; }
  }
}