
.FI {
  width:100%;

  .FiMonth {
    width:100%;

    .Chart {
      width:98%;
      margin:1vw 0;
      padding:0.5vw 0;
      background-color:#222;
      border-radius:0.5vw;

      .ChartLine {
        width:100%;

        .Left {
          width:25%;
          border-right:1px solid #999;
        }
        .Right {
          width:70%;
  
          .mark {
            padding:0 0.25vw;
            height:1vw;
            margin:1vw 0 0 0;
            font-size:80%;
            border-right:1px solid #999;
          }
  
          .markL {
            width:calc(25% - 0.5vw - 2px);
            border-left:1px solid #999;
          }
          .markR {
            width:calc(25% - 0.5vw - 1px);
          }
  
          .ProgBar {
            min-height:1.2vw;
            border-radius:0 0.25vw 0.25vw 0;
          }
        }
  
        .Top {
          min-height:2vw;
          padding:0 1%;
        }
  
        .Line {
          min-height:1.5vw;
          padding:0 1%;
        }
      }

      .ChartBottom {
        width:100%;

        .ChartInfo {
          width:60%;
          margin:0 2.5%;
          color:#999;
          padding:0.5vw 2.5% 0.25vw 2.5%;
          border-bottom:1px solid #999;
        }

        .ChartBtns {
          width:30%;
        }
      }
    }

    .FiLine {
      width:98%;
      border-bottom:1px solid #999;
      
      .El {
        padding:0 1%;
        white-space: nowrap;      /*keep text on one line */
        overflow: hidden;         /*prevent text from being shown outside the border */
        text-overflow: ellipsis;  /*cut off text with an ellipsis*/
      }
      .nr {width:3%;}
      .doc {width:10%;}
      .info {width:60%;}
      .net {width:6%;}
      .sum {width:6%;}
      .btns {width:10%;}
    }
    
    .ModeTop {
      min-height:2vw;
      color:#f60;
      font-weight:bold;
      padding:1vw 0 0.2vw 0;
      background-color:#222;
    }
    .ModeZU {background-color:#fd01;}
    .ModeFS, .ModePS, .ModeZL {background-color:#0f01;}
    .ModeFZ, .ModePZ {background-color:#f001;}

    .FiToBase {
      width:calc(98% - 2vw);
      padding:0.25vw 1vw;
      backGround-color:#222;
      border-radius:0.5vw;

      .inputWrapper {
        width:22%;
        margin:0 0.25%;
      }
    }

    .EditSection {
      width:98%;
      margin:0 0 1vw 0;
      padding:0.5vw 0;
      color:#fff;
      background-color:#222;
      border-radius:0.5vw;

      .NewDocBtn {
        width:20%;
        min-height:3vw;
        margin:0 1%;
        border-radius:0.5vw;
        &:hover {
          font-size:120%;
          font-weight:bold;
        }
      }
      .ModeZU {
        background-color:#fd05;
        &:hover {background-color:#fd09;}
      }
      .ModePS {
        background-color:#0f05;
        &:hover {background-color:#0f09;}
      }
      .ModeFZ, .ModePZ {
        background-color:#f005;
        &:hover {background-color:#f009;}
      }
    }
  }
}