
.ZL {
  width:100%;
  min-height:2vw;
  margin:1vw 0;

  .horizontalLine {
    width:95%;
    margin:0.5vw 0;
    border-top:1px dashed #f60;
  }

  .AddWeekBtn {
    width:100%;

    .EmptyBtn {
      width:calc(13% * 5 + 10px);
      @media (min-width: 481px) and (max-width: 767px) {
        width:calc(13% * 4 + 8px);
      }
      @media (max-width: 481px) {
        width:calc(13% * 3 + 6px);
      }
    }
    
    .Btn {
      width:calc(13% * 2 + 4px);
      min-height:2vw;
      margin:1vw 0 0 0;
      background-color:#171;
      border-radius:0.5vw;
      &:hover {
        font-size:120%;
        background-image:linear-gradient(#191, #151 30% 70%, #191);
      }
      @media (min-width: 481px) and (max-width: 767px) {
        width:calc(13% * 3 + 6px);
        min-height:4vw;
      }
      @media (max-width: 481px) {
        width:calc(13% * 4 + 8px);
        min-height:5vw;
      }
    }
  }

  .Week {
    width:100%;

    .Order {
      width:calc(13% * 7 + 14px);
      border-bottom:1px solid #444;
      
      .Car {
        position:relative;
        padding:0.25vw 0;
        border-radius:0.5vw;
        opacity:0.8;
        white-space: nowrap;      /*keep text on one line */
        overflow: hidden;         /*prevent text from being shown outside the border */
        text-overflow: ellipsis;  /*cut off text with an ellipsis*/
        @media (max-width: 767px) {padding:0.5vw 0;}

        &:hover {
          color:#fd0;
          opacity:1;
        }

        .StatusLine {
          position:absolute;
          width:100%;
          min-height:3px;
        }

        .CarName {
          margin:0 0.5vw;
          @media (min-width: 481px) and (max-width: 767px) {font-size:80%;}
          @media (max-width: 481px) {font-size:80%;}

          .OrderAva {
            width:1vw;
            margin:0 0.5vw 0 0;
            @media (min-width: 481px) and (max-width: 767px) {width:1.5vw}
            @media (max-width: 481px) {width:2vw}
          }
        }
      }
    }
  
    .Day {
      width:13%;
      margin:1vw 0 0 0;
      padding:0.25vw 0;
      opacity:0.3;
      background-color:#222;
      border:1px solid #999;
      border-radius:0.5vw;
  
      .DayLine {
        width:100%;
        min-height:2vw;
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size:100%;
        }
        @media (max-width: 767px) {
          font-size:70%;
          min-height:3vw;
        }
      }
    }
    .DayPannel {
      color:#f60;
      font-weight:bold;
      opacity:1;
      background-color:#111;
    }
    .ActiveMonth {
      color:#fff;
      opacity:1;
    }
    .HoliDay {
      width:13%;
      background-color:#f001;
      border:1px solid #999;
      border-radius:0.5vw;
    }
    .DayActive {
      border-color:#f60;
      background-color:#f60;
      &:hover {
        color:#fd0;
        font-size:120%;
        font-weight:bold;
        background-color:#0000;
        background-image:linear-gradient(#f60, #f605 30% 70%, #f60);
      }
    }

    .EditArea {
      width:100%;
    }
  }

  .Salary {
    width:100%;
    margin:2vw 0 0 0;
    padding:1vw 0;

    .SalaryOrder {
      position:relative;
      width:95%;
      margin:0.25vw 0 0 0;
      @media (min-width: 481px) and (max-width: 767px) {font-size:80%;}
      @media (max-width: 481px) {font-size:80%;}

      .Cell {
        padding:0 0.5vw;
        border:1px solid #999;
        border-radius:0.25vw;
      }

      .StatusLine {
        position:absolute;
        top:1.5vw;
        left:3vw;
        width:calc(15% - 1vw - 2px);
        min-height:3px;
      }
      .OrderNr {
        width:calc(15% - 1vw - 2px);
        @media (min-width: 481px) and (max-width: 767px) {width:calc(21% - 1vw - 2px);}
        @media (max-width: 481px) {width:calc(25% - 1vw - 2px);}

        .OrderAva {
          width:2vw;
          height:2vw;
          margin:0.25vw 0.5vw 0.25vw 0.25vw;
          border-radius:0.25vw;
          background-color:#0005;
          @media (min-width: 481px) and (max-width: 767px) {
            width:2vw;
            height:2vw;
          }
          @media (max-width: 481px) {
            width:3vw;
            height:3vw;
          }

          img {
            width:1.5vw;
            @media (min-width: 481px) and (max-width: 767px) {width:2vw;}
            @media (max-width: 481px) {width:3vw;}
          }
        }
      }
      .Car {
        width:calc(50% - 1vw - 2px);
        @media (min-width: 481px) and (max-width: 767px) {width:calc(35% - 1vw - 2px);}
        @media (max-width: 481px) {width:calc(28% - 1vw - 2px);}
        &:hover {color:#fd0;}
      }
      .Tel {
        width:calc(15% - 1vw - 2px);
        @media (min-width: 481px) and (max-width: 767px) {width:calc(20% - 1vw - 2px);}
        @media (max-width: 481px) {width:calc(20% - 1vw - 2px);}
      }
      .Brutto {
        width:calc(10% - 1vw - 2px);
        @media (min-width: 481px) and (max-width: 767px) {width:calc(15% - 1vw - 2px);}
        @media (max-width: 481px) {width:calc(16% - 1vw - 2px);}
      }
    }

    .SaveCheckedBtn {
      width:95%;
      margin:0.5vw 0 0 0;

      .Cell {
        min-height:2vw;
        padding:0.5vw;
        border:1px solid #0000;
        border-radius:0.25vw;
      }

      .EmptyBefore {
        width:calc(70% - 1vw - 2px);
        font-size:130%;
        @media (min-width: 481px) and (max-width: 767px) {width:calc(53% - 1vw - 2px);}
        @media (max-width: 481px) {width:calc(60% - 1vw - 2px);}
      }
      .EmptyAfter {
        width:5%;
        @media (min-width: 481px) and (max-width: 767px) {width:2%;}
        @media (max-width: 481px) {width:10%;}
      }
      .Btn {
        width:calc(20% - 1vw - 2px);
        min-height:1.5vw;
        background-color:#171;
        &:hover {
          font-size:110%;
          background-image:linear-gradient(#191, #151 30% 70%, #191);
        }
        @media (min-width: 481px) and (max-width: 767px) {
          width:calc(33% - 1vw - 2px);
          min-height:4vw;
        }
        @media (max-width: 481px) {
          width:calc(37% - 1vw - 2px);
          min-height:4vw;
        }
      }
    }
  }
}