
.authPannel {
  padding:1vw 0 2vw 0;

  .inputs {
    width:90%;

    .inputWrapper {
      margin:0.5vw 0;
      padding:0.25vw;
      border:1px solid #999;
      border-radius:0.5vw;
      &:hover {
        border-color:#191;
      }
    }

    .inputName {
      margin:0 0.5vw;
      padding:0 0.5vw;
      color:#999;
    }

    .inputErr {}

    input {
      width:94%;
      padding:0.25vw 3%;
      color:#fff;
      background-color:#0000;
      border:none;
      letter-spacing:0.2vw;
      border-radius:0.25vw;
    }
  }

  .btns {
    width:90%;
    margin:1vw 0 0 0;

    .btn {
      width:40%;
      background-color:#171;
      border-radius:0.5vw;
      padding:0.5vw;
      margin:0.5vw;
      color:#fff;
      text-align:center;
    }

    .btnActive {
      width:80%;
      font-size:1.5vw;
      padding:0.5vw 1.5vw;
    }
  }
}