
.authPannel {
  width:100%;

  .inputs {
    width:97%;

    .inputWrapper {
      padding:0.25vw;
      border:1px solid #999;
      border-radius:0.5vw;
      &:hover {
        border-color:#191;
      }
    }

    .inputName {
      margin:0 1vw;
      padding:0 1vw;
      color:#999;
    }

    .inputErr {}

    input {
      width:94%;
      min-height:2vw;
      padding:0.25vw 3%;
      color:#fff;
      background-color:#0000;
      border:none;
      letter-spacing:0.2vw;
      border-radius:0.25vw;
      @media (min-width: 481px) and (max-width: 767px) {min-height:4vw;}
      @media (max-width: 481px) {min-height:5vw;}
    }
  }

  .btns {
    width:100%;
    margin:2vw 0 0 0;

    .btn {
      width:46%;
      min-height:3vw;
      margin:1vw 2%;
      font-size:90%;
      &:hover{font-size:110%;}
      @media (min-width: 481px) and (max-width: 767px) {min-height:4vw;}
      @media (max-width: 481px) {min-height:5vw;}
    }

    .btnActive {
      width:96%;
      min-height:4vw;
      font-size:140%;
      &:hover{font-size:160%;}
      @media (min-width: 481px) and (max-width: 767px) {min-height:5vw;}
      @media (max-width: 481px) {min-height:7vw;}
    }

    .btn, .btnActive {
      color:#fff;
      background-color:#171;
      border-radius:0.5vw;
      &:hover{background-color:#191;}
    }
  }
}