
.section4{
  width:100%;

  .table{
    width:95%;
    
    .cell{
      border:1px solid #999;
      padding:0.25vw;
    }
    
    .headerTr{
      text-align:center;
      font-size:90%;
      
      .cell{
        min-height:3vw;
        background-color:#111;
      }
    }

    .tr{
      width:100%;

      .NOR{width:3%;}
      .ART{width:5%;}
      .SER{width:53%; padding:0.25vw 1%;}
      .QUA{width:4%;}
      .PRN{width:7%;}
      .VAT{width:4%;}
      .PRV{width:7%;}
      .PRG{width:7%;}
    }
  }

  .comments{
    width:90%;
    margin:1vw 0;

    .comL {width:5%;}
    .comR {width:90%;}
  }

}