
.section4{
  width:100%;

  .table{
    width:95%;
    
    .cell{
      border:1px solid #999;
      padding:0.25vw;
    }
    
    .headerTr{
      text-align:center;
      font-size:90%;
      
      .cell{
        min-height:3vw;
        background-color:#111;
      }
    }

    .tr{
      width:100%;

      .NOR{width:3%;}
      .ART{width:5%;}
      .SER{width:50%; padding:0.25vw 1%;}
      .PRG{width:5%;}
      .QUA{width:5%;}
      .VAT{width:3%;}
      .PRN{width:5%;}
      .PRV{width:5%;}
      .SUM{width:5%;}

      input {
        width:100%;
        min-height:1vw;
        color:#fff;
        background-color:#0000;
        border:1px solid #0000;
        &:hover {border:1px solid #171;}
      }

      img {
        width:1.3vw;
        margin:0.3vw;
        &:hover {
          width:1.5vw;
          margin:0.2vw;
        }
      }

      .center {text-align:center;}
    }
  }

  .comments{
    width:90%;
    margin:1vw 0;

    .comL {width:5%;}
    .comR {width:90%;}
  }

}