
.Profile {
  width:100%;

  .ProfileTitle {
    width:100%;
    margin:1vw 0;
    font-size:200%;
  }

  .ProfileSection {
    width:98vw;
    padding:1vw 0 3vw 0;

    .ProfileInfo {
      width:70%;
      padding:0 2vw;
      @media (min-width: 768px) and (max-width: 1024px) {width:60%;}
      @media (max-width: 767px) {width:90%;}
  
      .ProfileTheme, .ProfileThemeAct {
        width:100%;
        font-size:120%;
        margin:0.25vw 0 0 0;
        padding:0.5vw 2vw;
        background-color:#0003;
        border-left:5px solid #0000;
        border-bottom:3px solid #999;
      }

      .ProfileThemeAct {
        border-left:5px solid #191;
        border-radius:2vw 0 0 0;
      }
  
      .ProfileSection {
        width:100%;
        padding:0.5vw 1vw 2vw 1vw;
  
        .inputWrapper {
          width:calc(40% - 2px);
          margin:0.5vw 0;
          padding:0.25vw 0.25vw 0 0.25vw;
          border-radius:0.5vw;
          @media (min-width: 768px) and (max-width: 1024px) {width:calc(60% - 2px);}
          @media (max-width: 767px) {width:calc(70% - 2px);}
  
          legend {
            padding:0 0.5vw;
            font-size:80%;
            color:#f60;
          }
          input {
            width:100%;
            min-height:1.5vw;
            background-color:#0000;
            border:none;
          }
        }
  
        .ProfileBtn {
          width:calc(40% - 4px);
          margin-top:1vw;
          padding:0 0.5vw;
          min-height:3vw;
          border-radius:0.5vw;
          background-color:#171;
          &:hover {
            background-color:#191;
          }
          @media (min-width: 768px) and (max-width: 1024px) {
            width:calc(60% - 4px);
            min-height:4vw;
          }
          @media (max-width: 767px) {
            width:calc(70% - 2px);
            min-height:5vw;
          }
        }
  
        .TrafficLine {
          width:100%;
          min-height:2vw;
          font-size:100%;
          border-bottom:1px solid #555;
  
          .DDMMYYYY {width:12%;}
          .IP {width:15%;}
          .Addr {width:70%;}
        }
      }
    }
  }

  .TopLine {
    padding:0.5vw 0 0 0;
    background-color:#222;
  }

  .UserLine {
    width:98%;
    min-height:2vw;
    font-size:120%;
    border-bottom:1px solid #555;
    &:hover {color:#fd0;}

    .Nr {width:5%; margin:0 0 0 0.5%;}
    .Role {width:10%; margin:0 0 0 0.5%;}
    .Login {width:10%; margin:0 0 0 0.5%;}
    .Email {width:35%; margin:0 0 0 0.5%;}
    .Lang {width:5%; margin:0 0 0 0.5%;}
    .Sex {width:7%; margin:0 0 0 0.5%;}
    .Ava {width:20%; margin:0 0.5% 0 0.5%;}
  }

  .cookies {
    min-height:2vw;
    color:#fd0;
    &:hover {
      color:#f60;
      text-decoration:underline;
    }
  }
}