
.section5{
  width:100%;
  margin:1vw 0;

  .nothing{
    width:20%;
  }

  .payments{
    width:70%;
    
    .amount1 {
      width:100%;
      margin:1vw 0;
      font-size:130%;
      background-color:#111;

      .name {
        width:20%;
        padding:1vw;
      }

      .data {
        width:80%;
        padding:1vw;
      }
    }

    .amount1-Print {
      width:100%;
      margin:1vw 0;
      font-size:150%;
      background-color:#ddd;

      .name {
        width:20%;
        padding:1vw;
      }

      .data {
        width:80%;
        padding:1vw;
      }
    }

    .amount2{
      width:100%;

      .name{
        width:20%;
        padding:1vw;
      }

      .data{
        width:80%;
        padding:0 1vw;
        border-bottom:1px solid #ccc;

        .dateInput{
          background-color:#0000;
          color:#fff;
          border:1px solid #999;
        }
      }
    }

    .radio {
      width:10vw;
    }
  } 
}