
.office {

  .funcBtn{
    width:20vw;
    border:1px solid #999;
    border-radius:0.5vw;
    &:hover{
      border-color:#f60;
    }
  }
  
  .big{
    min-height:10vw;
    margin:1vw;
    font-size:200%;
    &:hover{
      font-size:250%;
    }
  }

  .small{
    min-height:3vw;
    margin:0.5vw 1vw;
    font-size:120%;
    &:hover{
      font-size:250%;
    }
  }

  .active{
    background-color:#465;
  }

}