
.office {
  width:100%;

  .Table{

    .line{
      width:100%;
      margin:0.5vw 0;

      .top{
        min-height:2vw;
        background-color:#111;
      }
      .saved {background-color:#0f02;}
      .edited {background-color:#fd02;}
      .deleted {background-color:#f002;}
      .cell{
        padding:0.3vw 0.5vw;
        border:1px solid #999;
        border-radius:0.2vw;
        font-size:120%;
        white-space: nowrap;      /*keep text on one line */
        overflow: hidden;         /*prevent text from being shown outside the border */
        text-overflow: ellipsis;  /*cut off text with an ellipsis*/
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size:100%;
          padding:0.5vw 0.5vw;
        }
        @media (max-width: 767px) {
          font-size:70%;
          padding:1vw 0.5vw;
        }
      }

      .small{
        width:15vw;
      }
      .big{
        width:55vw;
        @media (min-width: 481px) and (max-width: 767px) {width:50vw}
        @media (max-width: 481px) {width:45vw;}
      }
    }
  }
}