
.EditArea{
  width:100%;
  margin:1vw 0;
  padding:0.5vw 0;
  box-shadow: 0 0 0.5vw 0.5vw #999;
  @media print {
    margin:0;
    padding:0;
    color:#000;
    background-color:#fff;
    font-size:10px;
    box-shadow:none;
  }

  .editAreaBtns {
    width:100%;
    @media print {display:none;}
    
    .btns {
      padding:0.25vw 1vw;
      margin:0 1vw;
      background-image:linear-gradient(#222,#111,#222);
      border-radius:0.5vw;
    }
  }

  .inputWrapper {
    width:100%;
    margin:0.5vw 0;
    padding:0.25vw;
    border:1px solid #999;
    border-radius:0.5vw;
    &:hover { border-color:#191; }
  
    legend {
      margin:0 0.5vw;
      padding:0 0.5vw;
      color:#999;
      font-size:80%;
    }
  
    input, textarea {
      width: calc(100% - 1vw - 2px);
      padding:0.25vw 0.5vw;
      border:none;
      color:#fff;
      background-color:#0000;
      resize:none;
    }
  }
  
  .inputWrapperError {
    legend { color:#f60; }
  }

  .textWrapper {
    width:100%;
    margin:0;
    padding:0.25vw;
  
    .textLegend {
      width:15%;
      padding:0 0.5vw;
      font-size:80%;
    }
    .textLegend-short {
      width:85%;
      padding:0 0.5vw;
      font-size:80%;
    }
  
    .textValue {
      width:70%;
      padding:0 0.5vw;
    }
    .textValue-short {
      width:15%;
      padding:0 0.5vw;
    }
  }

  .ElHead {
    width:95%;
    margin:0.5vw 0 1vw 0;
    @media print {margin:2vw 0 1vw 0;}
    
    .logo{
      width:40%;
      font-size:400%;
      @media (max-width: 1024px) {width:40%;}
      
      .contacts {
        margin:0 0 0 5vw;
        font-size:20%;
      }
    }
    
    .placeDate{
      width:60%;
      @media (max-width: 1024px) {width:60%;}

      .orderDone {
        width:25%;
        min-height:3vw;
        background-color:#171;
        border-radius:0.5vw;
        &:hover {
          font-size:120%;
          background-color:#191;
        }
        @media (min-width: 768px) and (max-width: 1024px) {margin:0 0 0 40%;}
        @media (max-width: 768px) {width:30%; min-height:5vw;}
      }

      .DocNr {
        width:70%;
        font-size:150%;
        margin:0.5vw 0;
        @media (min-width: 768px) and (max-width: 1024px) {width:50%;}
        @media (max-width: 768px) {width:100%;}
        @media print {width:100%;}
      
        .docName {
          width:48%;
        }
        
        .Number {
          width:calc(52% - 1vw - 2px);
          padding:0.25vw 0;
          margin:0 0 0 1vw;
          border:1px solid #999;
        }
      }

      .placeDateInputs {
        width:100%;

        .inputWrapper {
          width:30%;
          min-height:2vw;
          margin:0 0 0 0.5vw;
          @media (min-width: 768px) and (max-width: 1024px) {min-height:4vw;}
          @media (max-width: 768px) {width:50%; min-height:6vw;}
        }

        .textWrapper {
          width:55%;
          min-height:1.5vw;
          margin:0;
          border:none;
          border-radius:0.5vw;
          @media (min-width: 768px) and (max-width: 1024px) {min-height:2vw;}
          @media (max-width: 768px) {width:50%; min-height:4vw; margin:0.25vw 0 0 0;}
          @media print {
            width:55%;
            min-height:1.5vw;
            margin:0;
            border:none;
          }

          .textLegend{
            width:60%;
          }

          .textValue{
            width:40%;
          }
        }
      }
    }
  }

  .ElInfo {
    width:95%;
    
    .info {
      width:49%;
      margin:0 0 1vw 0;
      border:1px solid #999;
      border-radius:0.5vw;
      @media (max-width: 1024px) {width:100%;}
      @media print {width:49%;}
    
      .title {
        width:90%;
        font-size:150%;
        padding:0.5vw 5%;
        background-color:#222;
        border-radius:0.5vw;
        @media print {background-color:#0002;}
      }

      .infoLine {
        width:95%;
        margin:0.25vw 0;
        border-bottom:1px dotted #999;

        .infoLineLegend {
          width:100%;
          font-size:80%;
        }

        .infoLineValue {
          padding:0 0 0 5%;
          font-size:120%;
          min-height:2vw;
        }

        .infoName {
          min-height:3vw;
        }
      }
    }
  }

  .ElFaults {
    width:95%;
    margin:0 0 1vw 0;
    border:1px solid #999;
    border-radius:0.5vw;
  
    .title {
      width:90%;
      padding:0.5vw 5%;
      font-size:150%;
      background-color:#222;
      border-radius:0.5vw;
      @media print {background-color:#0002;}
    }

    .FaultsTxt {
      width:96%;
      padding:0.5vw 2%;
      min-height:10vw;
      background-color:#0000;
      border:none;
      color:#fff;
      resize: none;
      @media (min-width: 768px) and (max-width: 1024px) {font-size:1vw;}
      @media (max-width: 768px) {font-size:1.5vw;}
      @media print {
        color:#000;
        min-height:30vw;
        font-size:1vw;
      }
    }
  }

  .ElArticles {
    width:95%;
    margin:0 0 1vw 0;
    @media (min-width: 768px) and (max-width: 1024px) {font-size:1vw;}
    @media (max-width: 768px) {font-size:1.5vw;}
    @media print {font-size:1vw;}
    
    .line {
      width:100%;
      margin:0;

      span {text-align:center;}

      .el {
        border:1px solid #999;
        border-radius:0.25vw;
        min-height:2.5vw;
        white-space: nowrap;      /*keep text on one line */
        overflow: hidden;         /*prevent text from being shown outside the border */
        text-overflow: ellipsis;  /*cut off text with an ellipsis*/
        &:hover {border-color:#f60;}
        @media (min-width: 481px) and (max-width: 767px) {font-size:70%; padding:1vw 0;}

        input {
          width:100%;
          min-height:1.5vw;
          text-align:center;
          color:#fff;
          background-color:#0000;
          border:none;
          &:focus {
            color:#fd0;
            background-color:#1912;
          }
          @media (min-width: 768px) and (max-width: 1024px) {font-size:1vw;}
          @media (max-width: 768px) {font-size:1.5vw;}
          @media print {font-size:1vw;}
        }

        .textStart {
          width:100%;
          padding:0 0.5vw;
          text-align:left;
        }
      }

      .elTop {
        min-height:4.5vw;
        background-color:#111;
        border:1px solid #999;
        border-radius:0.25vw;
        @media print {background-color:#0002;}
        @media (min-width: 481px) and (max-width: 767px) {font-size:70%; padding:1vw 0;}
      }

      .elEmpty {
        color:#0000;
        min-height:1vw;
      }
      
      .elNone {
        color:#0000;
        border:1px solid #0000;
      }
  
      .ART {
        width:calc(50vw - 2px);
        @media (min-width: 768px) and (max-width: 1024px) {width:calc(42vw - 2px);}
        @media (max-width: 768px) {width:calc(36vw - 2px);}
        @media print {width:calc(62vw - 2px);}
      }
      .NUR {width:calc(3vw - 2px);}
      .PRC {width:calc(5vw - 2px);}
      .QUA {width:calc(4vw - 2px);}
      .VAT {width:calc(4vw - 2px);}
      .NET {width:calc(5vw - 2px);}
      .PRV {width:calc(5vw - 2px);}
      .SUM {width:calc(5vw - 2px);}
    }
  }

  .ElComment {
    width:95%;
    margin:0 0 1vw 0;
    border:1px solid #999;
    border-radius:0.5vw;

    .title {
      width:90%;
      padding:0.5vw 5%;
      font-size:150%;
      background-color:#222;
      border-radius:0.5vw;
      @media print {background-color:#0002;}
    }

    .CommentsTxt {
      width:96%;
      padding:0.25vw 2%;
      min-height:3vw;
      background-color:#0000;
      border:none;
      color:#fff;
      resize: none;
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size:1vw;
        min-height:5vw;
      }
      @media (max-width: 768px) {
        font-size:1.5vw;
        min-height:5vw;
      }
      @media print {
        color:#000;
        min-height:3vw;
        font-size:1vw;
      }
    }
  }

  .ElAmount {
    width:95%;
    margin:0 0 1vw 0;
    @media (min-width: 768px) and (max-width: 1024px) {font-size:1vw;}
    @media (max-width: 768px) {font-size:1.5vw;}
    @media print {font-size:1vw;}

    .right {
      width:80%;

      .amount {
        margin:0.5vw 0;
        min-height:4vw;
        font-size:150%;
        background-color:#111;
        @media print {background-color:#0002;}
      }
      
      .txt {
        width:20%;
        padding:0.5vw 1vw;
      }
      
      .func {
        width:70%;
        min-height:3vw;
        margin:0.25vw 0;
        padding:0 1vw;
        border-top:1px dotted #999;
        border-bottom:1px dotted #999;

        .radio {
          margin:0 2vw 0 0;
        }
      }
    }
  }

  .ElSignatures {
    width:100%;
    margin:5vw 0 0 0;
    display:none;
    @media print {display:flex;}
  
    .signature{
      width:40%;
      margin:1vw;
  
      .signLine{
        width:100%;
        margin:0.5vw 0;
        border-bottom:1px dashed #999;
      }
    }
  }
}