
.sideBar {
  position:absolute;
  top:4vw;
  right:0;
  width:30vw;
  min-height:60vh;
  background-color:#000e;
  z-index:88;
  @media (min-width: 768px) and (max-width: 1024px) {
    top:6vw; width:40vw; padding:1vw 0 0 0;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    display:flex; top:0; width:60vw; min-height:calc(100vh - 9vw); padding:9vw 0 0 0;
  }
  @media (max-width: 481px) {
    display:flex; top:0; width:80vw; min-height:calc(100vh - 12vw); padding:12vw 0 0 0;
  }

  .navigation {
    width:90%;
    @media  (max-width: 767px) {
      display:block;
    }

    .navItem {
      width:100%;
      @media (min-width: 768px) and (max-width: 1024px) {display:none;}
      @media  (max-width: 767px) {
        display:flex;
        min-height:6vw;
        margin:1vw 0;
        background-image:linear-gradient(#333,#111,#333);
        border-top:1px solid #999;
        border-bottom:1px solid #999;
        &:hover {
          box-shadow: 0 0 0.5vw 0.2vw #999;
          border-color:#f60;
        }
      }
    }

    .navItemActive {
      border-color:#f60;
    }
  }
}