
.section1{
  width:100%;

  .logo{
    width:50vw;
    font-size:300%;

    img{
      width:5vw;
      margin:1vw 2vw;
    }
  }

  .placeDate{
    width:30vw;

    .left{
      width:15vw;
    }
    .right{
      width:10vw;
      margin:0.5vw 1vw;
      padding:0 0.5vw;
      border-bottom:1px solid #ccc;
    }
  }
}