
.newsBottom {
  width:95%;

  .likesPanel {
    width:70%;

    .like {
      width:7vw;

      .likeLen {
        min-width:2vw;
        margin:1vw 0 0 0;
        padding:0.25vw;
        border:1px solid #f60;
        border-radius:0.25vw;
        &:hover {
          border-color:#f00;
        }
      }
  
      .likeBtn {
        width:2vw;
        &:hover {
          width:2.2vw;
        }
      }
    }

    .users {
      margin:1vw 0 0 0;
      
      .user {
        margin:0 0.25vw;
      }
    }
  }

  .btnPannel {
    width:30%;
  }
}