
.office {
  width:100%;

  .title {
    font-size:200%;
    margin:0 0 1vw 0;
    @media (max-width: 767px) {font-size:150%;}
  }

  .line{
    width:100%;
    margin:0.5vw 0;
    
    .lineDateTo {
      width:calc(88vw + 6px);
      @media (min-width: 481px) and (max-width: 767px) {width:calc(83vw + 6px)}
      @media (max-width: 481px) {width:calc(78vw + 6px)}

      .lineDateleft {
        background-color:#f60;
        min-height:0.25vw;
        @media (max-width: 767px) {min-height:0.5vw;}
      }
      .lineDateright {
        background-color:#0f04;
        min-height:0.25vw;
        @media (max-width: 767px) {min-height:0.5vw;}
      }
    }
    .lineDateToEmpty {
      height:0.25vw;
      margin-top:0;
      margin-bottom:0;
      background-color:#0000;
      @media (max-width: 767px) {min-height:0.5vw;}
    }

    .top{
      min-height:2vw;
      background-color:#111;
    }
    .saved {background-color:#0f02;}
    .edited {background-color:#4657;}
    .done {background-color:#0005;}
    .deleted {background-color:#f002;}
    .cell{
      min-height:1.5vw;
      padding:0.3vw 0.5vw;
      border:1px solid #999;
      border-radius:0.2vw;
      font-size:120%;
      white-space: nowrap;      /*keep text on one line */
      overflow: hidden;         /*prevent text from being shown outside the border */
      text-overflow: ellipsis;  /*cut off text with an ellipsis*/
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size:100%;
        padding:0.5vw 0.5vw;
      }
      @media (max-width: 767px) {
        font-size:70%;
        padding:1vw 0.5vw;
        min-height:2vw;
      }
    }

    .small{
      width:15vw;
    }
    .big{
      width:55vw;
      @media (min-width: 481px) and (max-width: 767px) {width:50vw;}
      @media (max-width: 481px) {width:45vw;}
    }
  }

  .SearchPannel {
    width:80%;
    @media (min-width: 481px) and (max-width: 767px) {font-size:80%;}
    @media (max-width: 481px) {font-size:80%;}

    fieldset {
      width:20%;
  
      legend {
        color:#f60;
      }
  
      input {
        width:100%;
      }
    }
  }

  .EmptyList {
    width:85%;
    padding:1.5vw 0;
    font-size:130%;
    background-image:linear-gradient(#f605, #0000 20% 80%, #f605);
    border:1px solid #f60;
    border-radius:0.5vw;
  }
}