
.Statistic{
  width:100%;

  .loader{
    img{width:15%;}
  }

  .StatSection{
    width:100%;

    .SatatHeader{
      width:94%;
      padding:0 2vw;
      margin-bottom:0.5vw;
      min-height:2.5vw;
      font-size:120%;
      border-bottom:3px solid #999;
      background-color:#222;
      &:hover{
        color:#fd0;
        background-color:#111;
        border-color:#f60;
      }
    }
  }
}