
header {
  border-top:2px solid #999;
  border-bottom:2px solid #999;
  background-image:linear-gradient(#111e,#000e,#3339);
  @media (max-width: 1024px) {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
  }

  .siteLogo {
    max-width:15%;
    font-size:200%;
  }
  
  .siteNavigation {
    width:75%;
    position:relative;
    
    .navItem {

      .navBtn {
        width:10vw;
        min-height:1.5vw;
        margin:0.5vw;
        background-image:linear-gradient(#333,#111,#333);
        border-top:1px solid #999;
        border-bottom:1px solid #999;
        border-radius:0.5vw;
        &:hover {
          box-shadow: 0 0 0.5vw 0.2vw #999;
          border-color:#1c1;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          width:9vw;
          min-height:2.5vw;
          margin:0.25vw;
        }
        @media  (max-width: 767px) {
          display:none;
        }
      }

      .navBtnActive {
        border-color:#f60;
      }
      
      .navSubBtns {
        position:absolute;
        top:3vw;
        margin:0 -1vw 0 1vw;
        padding:0 0.5vw;
        background-color:#333;
        border-radius:0.5vw;
        z-index:999;

        .navSubBtn {
          width:10vw;
          min-height:1.5vw;
          margin:0.25vw;
          background-image:linear-gradient(#333,#111,#333);
          border-top:1px solid #999;
          border-bottom:1px solid #999;
          border-radius:0.5vw;
          &:hover {
            box-shadow: 0 0 0.5vw 0.2vw #999;
            border-color:#1c1;
          }
          @media (min-width: 768px) and (max-width: 1024px) {
            width:9vw;
            min-height:2.5vw;
            margin:0.25vw;
          }
          @media  (max-width: 767px) {
            display:none;
          }
        }

        .navSubBtnActive {
          color:#fd0;
          border-color:#fd0;
        }
      }
    }
  }

  .siteAuth {
    max-width:10%;

    .mainMenu {
      display:none;
      @media (min-width: 768px) and (max-width: 1024px) {display:none;}
      @media  (max-width: 767px) {display:flex;}
    }

    .blur {
      position:absolute;
      top:0;
      right:0;
      width:100%;
      min-height:100%;
      background-color:#333e;
      z-index:999;
    }

    .sidePannel {
      position:absolute;
      top:0;
      right:0;
      width:50%;
      background-color:#222;
      z-index:1000;
      border-top:1px solid #999;
      border-bottom:1px solid #999;
      @media (min-width: 1024px) {
        width:50%;
        min-height:50vh;
        border-top:2px solid #999;
        border-bottom:2px solid #999;
      }
      @media (max-width: 767px) {
        width:80%;
        min-height:90vh;
      }

      .authPannel {
        width:90%;
        padding:1vw 0;
      
        .inputs {
          width:97%;
      
          .inputWrapper {
            padding:0.25vw;
            border:1px solid #999;
            border-radius:0.5vw;
            &:hover {
              border-color:#191;
            }
        
            .inputName {
              margin:0 1vw;
              padding:0 1vw;
              color:#999;
            }

            input {
              width:94%;
              min-height:2vw;
              padding:0.25vw 3%;
              color:#fff;
              background-color:#0000;
              border:none;
              letter-spacing:0.2vw;
              border-radius:0.25vw;
              @media (min-width: 481px) and (max-width: 767px) {min-height:4vw;}
              @media (max-width: 481px) {min-height:5vw;}
            }
          }
        }
      
        .btns {
          width:100%;
          margin:2vw 0 0 0;
      
          .btn {
            width:46%;
            min-height:3vw;
            margin:1vw 2%;
            font-size:90%;
            &:hover{font-size:110%;}
            @media (min-width: 481px) and (max-width: 767px) {min-height:4vw;}
            @media (max-width: 481px) {min-height:5vw;}
          }
      
          .btnActive, .btnDisActive {
            width:96%;
            min-height:4vw;
            font-size:140%;
            &:hover{font-size:160%;}
            @media (min-width: 481px) and (max-width: 767px) {min-height:5vw;}
            @media (max-width: 481px) {min-height:7vw;}
          }
      
          .btnActive {
            color:#fff;
            background-color:#171;
            border-radius:0.5vw;
            &:hover{background-color:#191;}
          }
          .btn, .btnDisActive {
            color:#fff;
            background-color:#555;
            border-radius:0.5vw;
            &:hover{background-color:#444;}
          }
        }
      }

      .userPannel {
        width:90%;
        padding:1vw 0;

        .avaBig {
          width:30%;
          border-radius:0.5vw;
          @media (max-width: 767px) {width:50%;}
        }

        .userInfo {
          width:65%;
          padding:1vw;
          @media (max-width: 767px) {width:90%;}

          .userInfoLine {
            width:100%;

            .txtOrg {
              width:20%;
              margin:0.5vw 1vw 0.5vw 0;
              @media (max-width: 767px) {width:50%;}
            }
          }
        }

        .logOutBtn {
          width:80%;
        }
      }

      .siteNavigationWide {
        width:100%;
        padding:1.5vw 0 2vw 0;
        position:relative;
    
        .navItem {
          width:80%;
    
          .navBtn {
            width:80%;
            min-height:3vw;
            margin:0.5vw;
            background-image:linear-gradient(#333,#111,#333);
            border-top:1px solid #999;
            border-bottom:1px solid #999;
            border-radius:0.5vw;
            &:hover {
              box-shadow: 0 0 0.5vw 0.2vw #999;
              border-color:#1c1;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
              min-height:4vw;
            }
            @media  (max-width: 767px) {
              min-height:5vw;
            }
          }
    
          .navBtnActive {
            border-color:#f60;
          }
          
          .navSubBtns {
            width:100%;
            margin:0 0 0 10%;
            z-index:999;
    
            .navSubBtn {
              width:70%;
              min-height:1.5vw;
              margin:0.25vw;
              background-image:linear-gradient(#333,#111,#333);
              border-top:1px solid #999;
              border-bottom:1px solid #999;
              border-radius:0.5vw;
              &:hover {
                box-shadow: 0 0 0.5vw 0.2vw #999;
                border-color:#1c1;
              }
              @media (min-width: 768px) and (max-width: 1024px) {
                min-height:4vw;
              }
              @media  (max-width: 767px) {
                min-height:5vw;
              }
            }
    
            .navSubBtnActive {
              color:#fd0;
              border-color:#fd0;
            }
          }
        }
      }
    
    }

    .menuPannel {
      width:100%;
    
      .langPannel {
        margin:0 2vw;
      }
    }
  }
}