
.Invoice {
  width:100%;
  margin:0.5vw 0;
  background-color:#222;
  border-top:1px dashed #f60;
  border-bottom:1px dashed #f60;

  .inputWrapper {
    margin:0.5vw 0;
    padding:0.25vw;
    border:1px solid #999;
    border-radius:0.5vw;
    &:hover { border-color:#191; }

    legend {
      margin:0 0.5vw;
      padding:0 0.5vw;
      color:#999;
      font-size:80%;
    }

    input {
      width: calc(100% - 1vw - 2px);
      padding:0.25vw 0.5vw;
      border:none;
      color:#fff;
      background-color:#0000;
    }
  }

  .inputWrapperError {
    legend { color:#f60; }
  }
}