
.ava {
  border:1px solid #999;
  border-radius:50%;
}

.menuPannel {
  width:90%;

  .langPannel {
    width:100%;
  }

  .navItemActive {
    border-color:#f60;
  }
}

.menuBtn {
  margin:0.5vw 0;
  padding:0.5vw;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
  &:hover {
    border-color:#f60;
    background-color:#111;
  }
}

.menuBtnExit {
  &:hover {
    background-color:#f001;
  }
} 