
.section1{
  width:100%;

  .logo{
    width:50vw;
    font-size:400%;

    img {
      width:5vw;
      margin:0.5vw 1vw;
      @media (min-width: 768px) and (max-width: 1024px) {width:5vw; min-height:5vw;}
      @media (min-width: 481px) and (max-width: 767px) {width:8vw; min-height:8vw;}
      @media (max-width: 481px) {width:7vw; min-height:7vw;}
    }
  }

  .logo-Print{
    width:60vw;
    font-size:300%;

    img{
      width:8vw;
      margin:1vw 2vw;
    }
  }

  .placeDate{
    width:30vw;

    .left {width:15vw; margin:0.5vw 0;}
    .right {width:10vw; font-weight:bold;}
  }
}