
.workshop {
  margin:1vw;

  .tag {
    width:100%;

    .TagH {
      width:100%;
      padding:0.5vw 0 0.5vw 0;
      border-top:1px solid #999;
      border-bottom:1px solid #999;
    }

    .TagP {
      width:100%;
      text-indent:2vw;
    }

    .TagUl {
      width:90%;
      font-size:120%;
      font-weight:bold;

      .li {
        width:calc(100% - 2vw - 2px);
        margin:0 0 0 3vw;
        font-size:90%;
        font-weight:normal;
        // text-indent:-0.5vw;
      }
    }

    .TagVideo {
      width:calc(3vw * 16);
      height:calc(3vw * 9);
      margin:1vw;
      border-radius:0.5vw;
    }

    .TagSlider {
      position:relative;
      width:100%;

      .sliderTop {
        width:100%;
        min-height:70vh;

        .sliderBtn {
          width:10%;
          min-height:50vh;
          
          img {
            width:50%;
            opacity:0.1;
          }
      
          &:hover img {
            width:70%;
            opacity:1;
            transition: width 0.25s;
          }
        }
      
        .sliderImage {
          width:80%;
      
          img {
            width:50vw;
          }
        
          span {
            position:absolute;
            top:10%;
            left:15%;
            padding:0.5vw 2vw;
            font-size:200%;
            font-weight:bold;
            background-color:#2225;
            border-radius:0.5vw;
          }
        }
      }

      .sliderBottom {
        width:100%;
        min-height:5vh;

        .sliderLineItem {
          width:1.5vw;
          min-height:1.5vw;
          margin:1vw;
          border:5px solid #ccc;
          opacity:0.5;
          border-radius:50%;
          background-image:linear-gradient(#444, #aaa);


          &-active {
            border:5px solid #fff;
            background-image:linear-gradient(#000, #666);
          }

          &:hover {
            width:2vw;
            min-height:2vw;
            margin:0.75vw;
            opacity:1;
            transition: width 0.25s, min-height 0.25s, margin 0.25s;
          }
        }
      }
    }
  }
}