
.workshop {
  margin:1vw;

  .tag {
    width:100%;

    .TagH {
      width:100%;
      padding:0.5vw 0 0.5vw 0;
      border-top:1px solid #999;
      border-bottom:1px solid #999;
    }

    .TagP {
      width:100%;

      p {
        text-indent:2vw;
        text-align:justify;
        @media (max-width: 767px) {text-indent:5vw;}
      }
      img {
        width:10vw;
        padding:0.5vw;
        @media (max-width: 767px) {
          width:30vw;
          padding:1vw;
        }
      }
    }

    .TagUl {
      width:90%;
      font-size:120%;
      font-weight:bold;

      .li {
        width:calc(100% - 2vw - 2px);
        margin:0 0 0 3vw;
        font-size:90%;
        font-weight:normal;
        // text-indent:-0.5vw;
      }
    }

    .TagVideo {
      width:calc(3vw * 16);
      height:calc(3vw * 9);
      margin:1vw;
      border-radius:0.5vw;
    }

    .TagMap {
      width:calc(5vw * 16);
      height:calc(5vw * 9);
      margin:1vw;
      border-radius:0.5vw;
    }

    .TagContacts {
      width:100%;

      .el-L {
        width:75%;
        border-right:1px solid #f60;
        @media (min-width: 768px) and (max-width: 1024px) {width:60%;}
        @media (max-width: 767px) {
          width:100%;
          border-right:none;
          border-bottom:1px solid #f60;
        }

        iframe {
          width:calc(4vw * 16);
          height:calc(4vw * 9);
          opacity:0.8;
          margin:1vw 1vw 3vw 1vw;
          border-radius:0.5vw;
          @media (max-width: 767px) {
            width:calc(5vw * 16);
            height:calc(5vw * 9);
          }
        }
      }

      .el-R {
        width:20%;
        padding:2vw 0;
        @media (min-width: 768px) and (max-width: 1024px) {width:35%;}
        @media (max-width: 767px) {width:60%;}

        .contact {
          width:90%;
          margin:0 0 1vw 0;

          .txt {color:#f60;}

          .content {
            width:100%;

            .line {
              width:90%;
              padding:0.25vw 1vw;
              border:1px solid;
              border-color:#0000;
              @media (max-width: 767px) {padding:0.25vw 0 0.25vw 5vw;}

              .contentTxt {
                width:90%;
  
                .el {
                  width:100%;
                  min-height:2vw;
                  @media (max-width: 767px) {min-height:4vw;}
  
                  &:hover {font-size:110%;}
                }
              }

              &:hover {
                border-color:#191;
              }
            }
          }
        }
      }
    }

    .TagSlider {
      position:relative;
      width:100%;

      .Image {
        height:38vw;
        border-radius:0.5vw;
        @media (max-width: 767px) {height:42vw;}
      }

      .sliderImgBtn {

        img {
          width:4vw;
          padding:0.5vw;
          opacity:0.1;
          @media (max-width: 767px) {width:6vw;}

          &:hover {
            width:5vw;
            padding:0;
            opacity:1;
            transition: width 0.25s, padding 0.25s, opacity 0.25s;
            @media (max-width: 767px) {width:7vw;}
          }
        }
      }

      .folderPannel {
        position:absolute;
        top:0;
        left:5vw;
        @media (max-width: 767px) {left:2vw;}

        .sliderTxt {
          min-height:3vw;
          background-color:#0008;
          padding:0 3vw;
          font-size:200%;
          border:1px solid #999;
          border-radius:0.5vw;
          @media (max-width: 767px) {font-size:150%;}
        }

        .sliderFolderBtn {
          width:4vw;
          height:4vw;
          margin:0 0 0 2vw;

          img {
            width:3vw;
            padding:0.5vw;
            opacity:0.1;
            &:hover {
              width:4vw;
              padding:0;
              opacity:1;
              transition: width 0.25s, padding 0.25s, opacity 0.25s;
            }
          }
        }
      }
    }
  }
}